.header {
  background-image: url("/assets/images/header-main_banner.png");
  background-position: 67% center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  
}
