<div class="header">
    <div class="hero">
        <div class="hero-text">
            WOODER
        </div>
    </div>
    <!-- <div class="banner-effect1">
        <div class="banner-line">
            <img src="assets/images/header-line1.png" alt="">
        </div>
        <div class="banner-number">
            <img src="assets/images/header-number_01.png" alt="">
        </div>
        <div class="banner-dot1">
            <img src="assets/images/header-dot_1.png" alt="">
        </div>
        <div class="banner-dot2">
            <img src="assets/images/header-dot_2.png" alt="">
        </div>
        <div class="banner-dot3">
            <img src="assets/images/header-dot_3.png" alt="">
        </div>
        <div class="banner-dot4">
            <img src="assets/images/header-dot_4.png" alt="">
        </div>
    </div> -->
</div>