

.about-container1 {
    display: flex;
    flex-wrap: nowrap;
}
.about-margleft {
    margin-left: 20%;
}
.about-box1 {
    width: 50%;
}
.about-image 
{       width: 50%;
        margin-left:20%;
        margin-top: 1%;
        padding: 5%;
}
.about-text {
    text-align: left;
    margin-top: 35%;
}
.about-text1 {
    text-align: left;
    margin-top: 4%;
}
.about-fancyshit { 
        margin-top: 30%;
        border-width: 1px;
        border-color: rgb(0, 0, 0);
        border-style: solid;
        z-index: 3000;
        width: 25%;
        margin-right: 80%;
}
.about-test1 {
        border-width: 0.5px;
        border-color: rgb(0, 0, 0);
        border-style: solid;
        position: absolute;
        left: 960px;
        top: 3810px;
        width: 149px;
        height: 0;
        z-index: 14;
}
.about-test2 {
        background-color: rgb(186, 186, 186);
        box-shadow: 0px 0px 14.56px 1.44px rgba(0, 0, 0, 0.15);
        position: absolute;
        left: 388px;
        width: 589px;
        height: 401px;
        z-index: 12;
}
.about-fancyline2 {
        background-color: rgb(190, 166, 124);
        position: absolute;
        left: 1068px;
        top: 3861px;
        width: 44px;
        height: 4px;
        z-index: 21;         
}