<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row"></div>
<div class="column1">
    <img src={{item.thumbnailUrl}} class="center">
</div>
<div class="column2">   
    <div class="title">
        <h3>{{item.id}}</h3>
        <p style="margin-top: 4%;">Nebulizer</p>
        <p>{{item.title}}</p>
        <p style="margin-top: 3%; margin-bottom: 3%;">-</p>
        <p>Loved for its waterless operation and potent aroma,<br>Holmlack enhances your home without you even <br>
            noticing it</p>
        <h1 class="h1add1">$100</h1>
    </div>
</div>
<div class="counter">
 
</div>
<button style="font-size:24px" class="btn"><i class="fa fa-shopping-cart">Add to cart</i></button>