
<div class="row"></div>
    <div class="column1">
 <img src="assets/images/product-detail-oak-wood.png" class="center">
    </div>
    <div class="column2">
        <div class="title">
            <h3>Holmlack</h3>
            <p style="margin-top: 4%;">Nebulizer</p>
            <p>Handmade ceramic and oak wood</p>
            <p style="margin-top: 3%; margin-bottom: 3%;">-</p>
            <p>Loved for its waterless operation and potent aroma,<br>Holmlack enhances your home without you even <br> noticing it</p>
            <h1 class="h1add1">$100</h1>
        </div>
    </div>