<div class="img-holder">
    <div class="content">
        <div class="col1">
                <div class="horizontal-line1"></div>
                <div class="horizontal-line2"></div>
        </div>
        <div class="col2">
            <div class="row">
                <h1>We do the design</h1>
                <h1>of any comlexity</h1>
            </div>
            <div class="row">
                <p>This is a team of professionals that make the furniture and</p>
                <p>wood decor high standard. Creating modern designs.</p>
                <p>Adhering to the global quality standards. And we are</p>
                <p>doing work with love</p>
            </div>
            <div class="button row">
                <a href="">
                    <img src="assets/images/video-box-play.png" class="img-play" alt="">
                    WATCH VIDEO</a>
            </div>
        </div>
        <div class="vertical-line"></div>
    </div>
    <img src="assets/images/video-box-bg.png" class="bg" alt="">
</div>