.row{
    width: 100%;
    margin: 30px;
}

.col1{
    width: 20%;
    z-index: 2;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.col2{
    width: 75%;
    z-index: 2;
    float: left;
}

.col{
    float: left;
}

.vertical-line{
    position: absolute;
    top: 50%;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

.horizontal-line1{
    float: right;
    background-color: rgb(255, 255, 255);
    height: 1px;
    width: 150px;
    margin-top: 60px;
}

.horizontal-line2{
    background-color: rgb(190, 166, 124);
    height: 3px;
    width: 50px;
    margin-top: 130px;
    float: right;
}

.img-holder{
    height: 916px;
    position: relative;
}

.bg{
    position: absolute;
    z-index: 1;
}

.content{
    z-index: 2;
    border: 1px solid rgb(190, 166, 124);
    width: 82%;
    height: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

h1{
    font-size: 48px;
    font-family: "ProximaNova";
    color: rgb(190, 166, 124);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
}

p{
    font-size: 15px;
    font-family: "ProximaNova";
    color: rgb(255, 255, 255);
    line-height: 1.667;
}


.button{
    width: 250px;
    line-height: 50px;
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
}

.img-play{
    vertical-align: middle;
}

a{
    text-decoration: none;
    font-size: 14px;
    font-family: "ProximaNova";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}