<h1 class="">Wooder - is quality</h1>
<div class="separator"></div>
<p class="">We create unique design objects made of rare wood, specially under the order.</p>
<p class="">Look at the short video about our work.</p>
<div class="row">
    <div class="col">
        <div class="img-holder">
            <img src="assets/images/more-videos-bg1.png" alt="">
            <img src="assets/images/more-videos-play.png" alt="">
        </div>
        <div class="separator-small"></div>
        <p class="title-small">Innovative Design</p>
    </div>
    <div class="col">
        <div class="img-holder">
            <img src="assets/images/more-videos-bg2.png" alt="">
            <img src="assets/images/more-videos-play.png" alt="">
        </div>
        <div class="separator-small"></div>
        <p class="title-small">High-level Skills</p>
    </div>
    <div class="col">
        <div class="img-holder">
            <img src="assets/images/more-videos-bg3.png" alt="">
            <img src="assets/images/more-videos-play.png" alt="">
        </div>
        <div class="separator-small"></div>
        <p class="title-small">Quality Products</p>
    </div>
</div>