* {
    font-family: "Montserrat", sans-serif;
  }

.row{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: space-around;
    margin: 5%;

}

.col{
   margin: 30px;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 0;
}

h1{
    font-size: 48px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.083;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}
.separator{
    background-color: rgb(190, 166, 124);
    width: 44px;
    height: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

p{
    font-size: 15px;
    color: rgb(99, 98, 98);
    line-height: 1.667;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}

.img-holder{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 1px solid rgb(200, 200, 200);
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: linear 200ms;
    &:hover{
        background-color: rgb(190, 166, 124);
    }
}
img{
    border-radius: 50%;
    border-collapse: separate;
    border-spacing: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.separator-small{
    background-color: rgb(190, 166, 124);
    height: 1px;
    width: 23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title-small{
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

.Эллипс_3 {
    border-radius: 50%;
    background-color: rgb(190, 166, 124);
    opacity: 0.8;
    position: absolute;
    left: 568px;
    top: 2749px;
    width: 68px;
    height: 68px;
    z-index: 62;
}