.card{
    margin: 100px; // neskor zmenit
    width: 300px;
    height: 500px;
    background-color: bisque;
}

.img-holder{
    height: 300px;
    background-color: blueviolet;
}

.info{
    height: 150px;
}

.btn-detail{
    height: 50px;
    background-color: black;
}