<div class="container">
    <div class="navbar-menu">
        <div class="navbar-menu-button">
            <img src="assets/images/navbar-menu_icon.png" alt="">
        </div>
        <div class="navbar-menu-text">
            MENU
        </div>
    </div>
    <div class="navbar-links">
        <ul>
            <li>
                <a href=""><img src="assets/images/navbar-logo_light.png" alt=""></a>
            </li>
            <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
            <li><a routerLink="/products" routerLinkActive="active">PRODUCTS</a></li>
            <li><a routerLink="/home" routerLinkActive="active">ABOUT</a></li>
        </ul>
    </div>
    <div class="navbar-misc">
        <div class="info">
            <img src="assets/images/navbar-info_icon.png" alt="">
        </div>
        <div class="lang">
            <select name="lang" id="">
                <option value="">EN</option>
                <option value="">SK</option>
                <option value="">DE</option>
            </select>
        </div>
    </div>
</div>