* {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.container {
  position: fixed;

  width: -webkit-fill-available;
  padding: 30px;

  z-index: 3000 ;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  vertical-align: middle;

  background-image: linear-gradient(to bottom, rgba(0,0,0,0.85), rgba(0,0,0,0));

  .navbar-menu {
    display: flex;
    align-items: center;
    div {
      padding: 0 10px;
      display: flex;
      vertical-align: middle;
      align-items: center;
      img {
        cursor: pointer;
      }
    }
  }
  .navbar-links {
    li {
      display: inline-block;
      padding: 0px 40px;
      vertical-align: middle;
      a {
        transition: all 0.3s ease 0s;
        text-decoration: none;
        color: #fff;
      }
      a:hover {
        color: #ff0000;
      }
    }
  }
  .navbar-misc {
    display: flex;
    vertical-align: middle;
    align-items: center;
    div {
      display: flex;
      vertical-align: middle;
      align-items: center;
      padding: 0 10px;
      text-decoration: none;
      color: #fff;
      select {
        border: none;
        background: none;
      }
    }
  }
}
