<div class="container">
    <div class="navbar-menu">
        <img src="assets/images/navbar-menu_icon.png" alt="">
        <span>MENU</span>
    </div>
    <div class="navbar-links">
        <ul>
            <li>
                <a href=""><img src="assets/images/navbar-logo_light.png" alt=""></a>
            </li>
            <li><a href="">HOME</a></li>
            <li><a href="">PRODUCTS</a></li>
            <li><a href="">ABOUT</a></li>
        </ul>
    </div>
    <div class="navbar-misc">
        <div class="info">INFO</div>
        <div class="lang">LANG</div>
    </div>
</div>