<div class="content">
    <div class="col1">
        <div class="horizontal-line1"></div>
        <div class="horizontal-line2"></div>
        <div class="number">01<span>.</span></div>
    </div>
    <div class="col2">
        <div class="row">
            <h1>FURNITURE</h1>
        </div>
        <div class="row">
            <p>Wooder utilizes materials otherwise left behin,
                rendered useless in their original intent. By creating
                new pieces made of reclaimed barnwood.</p>
        </div>
        <div class="button row">
            <a href="">LEARN MORE</a>
        </div>
        <div class="row">
            <div class="horizontal-line3"></div>
        </div>
    </div>
    <div class="col3">
        <img src="assets/images/featured-furniture.png" alt="">
    </div>
    <div class="vertical-line"></div>
</div>

<div class="content">
    <div class="col3">
        <img src="assets/images/featured-decor.png" alt="">
    </div>
    <div class="col2">
        <div class="row content-right">
            <h1>FURNITURE</h1>
        </div>
        <div class="row content-right">
            <p>Wooder utilizes materials otherwise left behin,
                rendered useless in their original intent. By creating
                new pieces made of reclaimed barnwood.</p>
        </div>
        <div class="button row content-right">
            <a href="">LEARN MORE</a>
            <div class="row content-right">
                <div class="horizontal-line3-right"></div>
            </div>
        </div>
    </div>
    <div class="col1-right">
        <div class="horizontal-line1-right"></div>
        <div class="horizontal-line2-right"></div>
        <div class="number-right">02<span>.</span></div>
    </div>
</div>