<div class="content">
    <div class="col1">
        <div class="horizontal-line1"></div>
        <div class="horizontal-line2"></div>
        <div class="number">01<span>.</span></div>
    </div>
    <div class="col2">
        <div class="row">
            <h1>FURNITURE</h1>
        </div>
        <div class="row">
            <p>Wooder utilizes materials otherwise left behin,
                rendered useless in their original intent. By creating
                new pieces made of reclaimed barnwood.</p>
        </div>
        <div class="row">
            <a href="">
                <div class="button">
                    <div class="row">
                        LEARN MORE
                        <img src="assets/images/featured-arrow.png" alt="">
                    </div>
                    <div class="horizontal-line3"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col3">
        <img src="assets/images/featured-furniture.png" alt="">
    </div>
    <div class="row">
        <div class="vertical-line"></div>
    </div>
</div>


<div class="content">
    <div class="col3">
        <img src="assets/images/featured-decor.png" alt="">
    </div>
    <div class="col2-right">
        <div class="row content-right">
            <h1>FURNITURE</h1>
        </div>
        <div class="row content-right">
            <p>Wooder utilizes materials otherwise left behin,
                rendered useless in their original intent. By creating
                new pieces made of reclaimed barnwood.</p>
        </div>
        <div class="row">
            <a href="">
                <div class="button-right">
                    <div class="row">
                        LEARN MORE
                        <img src="assets/images/featured-arrow.png" alt="">
                    </div>
                    <div class="horizontal-line3"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col1-right">
        <div class="horizontal-line1-right"></div>
        <div class="horizontal-line2-right"></div>
        <div class="number-right">02<span>.</span></div>
    </div>
    <div class="row">
        <div class="vertical-line-right"></div>
    </div>
</div>