* {
    font-family: "Montserrat", sans-serif;
  }

.row{
    width: 100%;
    margin: 10px;
}

.col1{
    width: 15%;
    z-index: 2;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.col1-right{
    width: 14%;
    z-index: 2;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col2{
    width: 35%;
    z-index: 2;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.col2-right{
    width: 35%;
    z-index: 2;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    div{
        margin-right: 10px;
    }
}


.col3{
    width: 50%;
}

.horizontal-line1{
    float: right;
    background-color: rgb(0, 0, 0);
    height: 1px;
    width: 150px;
    margin-top: 130px;
}

.horizontal-line1-right{
    float: left !important;
    background-color: rgb(0, 0, 0);
    height: 1px;
    width: 150px;
    margin-top: 130px;
}

.horizontal-line2{
    background-color: rgb(190, 166, 124);
    height: 3px;
    width: 50px;
    margin-top: 62px;
    float: right;
}

.horizontal-line2-right{
    background-color: rgb(190, 166, 124);
    height: 3px;
    width: 50px;
    margin-top: 62px;
    float: left !important;
}

.horizontal-line3{
    background-color: rgb(190, 166, 124);
    height: 3px;
    width: 50px;
    float: left;
    margin: 0 !important;
}

.content{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

h1{
    font-size: 48px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
}

p{
    font-size: 15px;
    color: rgb(0, 0, 0);
    line-height: 1.667;
}


.button{
    width: fit-content;
    float: left;
    margin: 0;
    .row{
        margin: 0;
        width: fit-content;
    }
    img{
        margin-bottom: 1px;
    }
}

.button-right{
    width: fit-content;
    float: right;
    margin: 0 !important;
    .row{
        margin: 0;
        width: fit-content;
    }
    img{
        margin-bottom: 1px;
    }
}


.img-play{
    vertical-align: middle;
}

a{
    width: inherit;
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    transition: linear 200ms;
    &:hover{
        color: rgb(190, 166, 124) !important;
    }
}

.number{
    font-size: 32px;
    font-weight: bold;
    align-self: flex-start;
    margin-top: 163px;
    span{
        color: rgb(190, 166, 124);
    }
}

.number-right{
    font-size: 32px;
    font-weight: bold;
    align-self: flex-end;
    margin-top: 163px;
    span{
        color: rgb(190, 166, 124);
    }
}

.content-right{
    text-align: right;
    margin-right: 0;
}

.vertical-line{
    background-color: rgb(190, 166, 124);
    height: 50px;
    width: 3px;
    float: left;
    margin: 0;
    margin-left: 5px;
}

.vertical-line-right{
    background-color: rgb(190, 166, 124);
    height: 50px;
    width: 3px;
    float: right;
    margin: 0;
    margin-right: 25px;
    //idk
}