@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    //FORMAT
    margin: 0;
    padding: 0;

    //SCROLL
    overflow-x: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
}